/* Basic Font and Background Setup */
body {
    font-family: 'Arial', sans-serif;
    background-color: #FFF5EA; /* Light Cream as the base background color */
    color: #7A4B56; /* Rich Brown for the main text color */
}

/* Header Styles */
header {
    background-color: #FCBCE0; /* Soft Pink for the header background */
    padding: 20px;
    text-align: center;
}

/* Navigation Styles */
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #7A4B56; /* Rich Brown for link color */
}
nav a:hover {
    color: #A3C1AD; /* Muted Green for hover state */
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #D99CB3; /* Darker Pink for the footer */
    color: #FFF5EA; /* Light Cream for the footer text */
}

/* Headings */
h1, h2, h3 {
    color: #7A4B56; /* Consistent Rich Brown for heading elements */
}

/* Div Styling */
div {
    background-color: #FFF5EA; /* Light Cream for div backgrounds */
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This will make the container take the full viewport height */
    text-align: left;
    background-color: #FFF5EA; /* Light Cream */
}

.text-content {
    display: flex;
    flex-direction: column; /* Stack elements vertically by default */
    align-items: center; /* Center items for narrow screens */
    text-align: center;
}

.profile-photo {
    /* Set the width and height to the desired size of the image */
    height: 33vh; /* Make it the same as the width to keep it circular */
    border-radius: 55%; /* This will make the div round */
    overflow: hidden; /* Ensures the image does not overflow the rounded div */
    box-shadow: 0 8px 24px 0 #FCBCE0; /* Soft Pink shadow for depth */
    align-self: center; /* Center within the flex container */
    margin-left: auto; /* Pushes the image to the right inside the flex container */
    margin-right: 2em; /* Space from the right edge */
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will cover the entire area of the div */
    display: block;
    border-radius: 50%; /* Ensuring the image itself also gets rounded if needed */
}

button {
    background-color: #FCBCE0; /* Soft Pink */
    color: #7A4B56; /* Rich Brown */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

button:hover {
    background-color: #D99CB3; /* Darker Pink */
}

/* Social Links Styles */
.social-links {
    position: fixed;
    bottom: 3em; /* Position above the footer */
    left: 1em; /* Adjust if needed */
    z-index: 10; /* Ensure it's above other content */
}

.social-button {
    display: inline-flex; /* Align items in a row */
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
    text-decoration: none;
    color: #7A4B56; /* Rich Brown text */
    font-size: 16px; /* Adjust as needed */
    border-radius: 50%; /* Full roundness */
    width: 40px; /* Fixed width */
    height: 40px; /* Fixed height, same as width for a circle */
    margin: 5px;
    background-color: #FFF5EA; /* Light Cream */
    box-shadow: 0 4px 8px 0 rgba(252, 188, 224, 0.7); /* Light pink shadow */
    overflow: hidden; /* Hide overflow for border-radius */
}

.social-icon {
    width: 100%; /* Full width of the button */
    height: auto; /* Maintain aspect ratio */
    display: block;
    border-radius: 50%; /* Ensures the image is also round */
    object-fit: cover; /* Covers the button area, useful if the images are not square */
}

.social-links a {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
}

/* Responsive behavior */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .text-content, .profile-photo {
        flex-basis: 100%; /* Each takes full width on smaller screens */
    }

    .profile-photo img {
        position: static; /* On small screens, the image is no longer absolutely positioned */
    }
    .social-links {
        right: 5px; /* Less offset on smaller screens */
        top: auto; /* Position the links from the bottom on smaller screens */
        bottom: 10px;
        transform: translateY(0);
    }
}

/* Media query for wider screens */
@media (min-width: 768px) {

    .profile-photo {
        width: 50%; /* Adjust the width for wide screens */
        margin-top: 0; /* Reset the margin on top */
    }
}