/* Basic Font and Background Setup */
body {
    font-family: 'Arial', sans-serif;
    background-color: #FFF5EA; /* Light Cream as the base background color */
    color: #7A4B56; /* Rich Brown for the main text color */
}

/* Header Styles */
header {
    background-color: #FCBCE0; /* Soft Pink for the header background */
    padding: 20px;
    text-align: center;
}

/* Navigation Styles */
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #7A4B56; /* Rich Brown for link color */
}
nav a:hover {
    color: #A3C1AD; /* Muted Green for hover state */
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #D99CB3; /* Darker Pink for the footer */
    color: #FFF5EA; /* Light Cream for the footer text */
}

/* Headings */
h1, h2, h3 {
    color: #7A4B56; /* Consistent Rich Brown for heading elements */
}

/* Div Styling */
div {
    background-color: #FFF5EA; /* Light Cream for div backgrounds */
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This will make the container take the full viewport height */
    text-align: left;
    background-color: #FFF5EA; /* Light Cream */
}



.text-content {
    display: flex;
    flex-direction: column; /* Stack elements vertically by default */
    align-items: center; /* Center items for narrow screens */
    text-align: center;
}

.profile-photo {
    width: 80%; /* Adjust the width as necessary */
    margin-top: 2em; /* Space above the image */
    border-radius: 50%; /* Makes the image round */
    overflow: hidden; /* Ensures the content respects border-radius */
    box-shadow: 0 4px 8px 0 #FCBCE0; /* Soft Pink shadow */
    align-self: flex-end; /* Align to the right inside the flex container */
}

.profile-photo img {
    width: 100%;
    height: auto;
    display: block;
}


/* Responsive behavior */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .text-content {
        flex-direction: row; /* Lay out the children in a row for wide screens */
        align-items: flex-start; /* Align items to the top */
        text-align: left;
    }

    .profile-photo {
        width: 50%; /* Adjust the width for wide screens */
        margin-top: 0; /* Reset the margin on top */
    }

    .profile-photo img {
        position: static; /* On small screens, the image is no longer absolutely positioned */
    }
}

button {
    background-color: #FCBCE0; /* Soft Pink */
    color: #7A4B56; /* Rich Brown */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

button:hover {
    background-color: #D99CB3; /* Darker Pink */
}

